<h2>Hello <%= clientName %></h2>
<br/>

<br/>
In order to move with our process, I am sending you the documents that need your review:
<br/>
<br/>
<br/>
<b><%= title %></b>
<br/>
<br/>
<br/>
<a href="<%= baseUrl %>#/signdocument/<%= token%>" style="text-decoration: underline; color: blue;">Your Documents are located here</a>
<br/>
<h4>Best Regards</h4>
<br/>
<br/>
<%= professional%>
<div> Professional</div>

